.green {
    &__card-green {
        background: #334247;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
        width: 380px;
        height: 770px;
        margin: 0;
        margin-top: 115px;
        margin-left: 132px;
    }

    &__card-background {
        background-color: #5bb189;
        width: 100%;
        height: 105px;
        margin-top: 33px;
    }
    &__card-order {
        background: #5bb189;
        border-radius: 20px;
        width: 154px;
        height: 40px;
        margin-top: 39px;
        margin-left: 112px;
    }
}
