* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    flex-direction: row;
    width: 1440px;
    height: 1000px;
    background: #141B1C;
}


.price__card {
    display: flex;
}

.price__tables {
    display: flex;
    justify-content: center;
    align-items: center;
}