* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    flex-direction: row;
    width: 1440px;
    height: 1000px;
    background: #141b1c;
}

.green__card {
    display: flex;
}

.price__tables {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.price__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #ffffff;
    padding-top: 33px;
    margin: 0;
}
.price__info {
    display: block;
    margin: auto;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}
.price__amount {
    display: block;
    padding-top: 19px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #ffffff;
}
.price__description {
    display: block;
    margin: 0;
    padding: 40px 26px 40px 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}
.price__card {
    display: flex;
    height: 50px;
}
.price__card-dark {
    background: rgba(42, 52, 56, 0.5);
    mix-blend-mode: normal;
    width: 100%;
    height: 50px;
    display: flex;
}
.price__services {
    font-weight: 300;
    font-size: 15px;
    height: 18px;
    color: #ffffff;
    padding-left: 22px;
    padding-top: 16px;
}
.price__order-text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    padding-top: 11px;
}
.price__card-greenicon {
    width: 15px;
    height: 13px;
}
.price__card-icon {
    padding-left: 22px;
    padding-top: 17px;
}
